body {
    background-color: #358be7;
    font-family: 'Bahnschrift Light', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #fff;
    max-width: 600px;
    margin: 150px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

input[type="number"] {
    padding: 8px;
    font-size: 16px;
    margin-bottom: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0062cc;
}

h1 {
    margin-bottom: 16px;
    text-align: center;
}

p {
    font-weight: bold;
}

label {
    margin-right: 16px;
    font-weight: bold;
}

.radio-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 16px;
}

.radio-group label {
    margin-right: 8px;
}

.select-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 16px;
}

.select-group label {
    margin-right: 8px;
}

select {
    padding: 8px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-right: 16px;}
    #inputType{
        margin-left: 72px;
    }
    #convertType{
        margin-left: 53px;
    }